.even{
    td{
        color: rgb(226, 224, 224);
        background-color: rgb(13, 14, 13);
    }
}
.odd{
    td{
        color: rgb(240, 70, 28);
        background-color: rgb(171, 233, 91);
    }
}